/* Variables */

body {
    --BN-blue: #4A90E2;
    --title-font: Papyrus, Georgia, serif;
    /* Papyrus available on most Macs & many Windows,
       Georgia available on almost all of both */
    --project-font: 'Catamaran', Verdana, sans-serif;
    /* In case web font not supported, Verdana available on almost all Macs & Windows */
    
    /* for browsers that don't support variables, need to specify values below */
}

/* General Settings & Layout Classes */

html,
button,
p,
ol,
.pure-g,
.pure-g [class *= "pure-u"] {
    font-family: 'Catamaran', Verdana, sans-serif;
    font-family: var(--project-font);
}
.bold {
    font-weight: bold;
}
.centered {
    text-align: center;
}
.thin-bottom {
    margin-bottom: 0;
}
.thin {
    margin-top: 0;
    margin-bottom: 0;
}

/* Page Header */

h1 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    line-height: calc(3.5rem + 2vw);
    font-family: Papyrus, Georgia, serif;
    font-family: var(--title-font); 
    font-weight: normal;
}
.header-stripe {
    margin-top: 0;
    padding-left: 5px;
    background-color: #4A90E2;
    background-color: var(--BN-blue);
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: calc(1.5rem + 1vw);
}

/* Navigation Bar */

.nav-bar {
    background-color: #4A90E2;
    background-color: var(--BN-blue);
    
}
.nav-container {
    max-width: 1100px;
    margin: auto;
}
.nav-active {
    text-decoration: underline;
}
h2 {
    margin-top: 0;
    margin-bottom: 5px;
}
h2 a {
    text-decoration: none;
    color: white;
}
h2 a:hover {
    text-decoration: underline;
    color: white;
}

/* Content - Containers */

.content-container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}
.center-container {
    display: flex;
    justify-content: space-around;
    margin: auto;
    flex-wrap: wrap;
}
.column-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dbl-center-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

/* Content - Basic Elements */

h3 {
    color: #4A90E2;
    color: var(--BN-blue);
    font-size: 1.75rem;
}
li {
    padding-bottom: 7px;
}
p a,
li a {
    font-weight: bold;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* Content - Figures & Images */

figure {
    margin-left: 10px;
    margin-right: 10px;
}
figcaption {
    padding-top: 0.5rem;
    color: gray;
    font-size: 0.8rem;
}
img.h20 {
    height: 20rem;
    margin: auto;
}
.hero-img {
    border-radius: 20px;
    max-height: 60vh;
}
.logo-card {
    position: relative;
    top: -3vh;
    width: 340px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.logo {
    height: 4rem;
    float: left;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* Content - Buttons */

.donate-button {
    background-color: #4A90E2;
    background-color: var(--BN-blue);
    border-width: 2px;
    border-style: solid;
    border-color: #4A90E2;
    border-color: var(--BN-blue);
    color: white;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.donate-button:hover {
    background-color: white;
    border-width: 2px;
    border-style: solid;
    border-color: #4A90E2;
    border-color: var(--BN-blue);
    color: #4A90E2;
    color: var(--BN-blue);
    text-decoration: none;
}




